.wrapper {
  /* background-image: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a");
  background-size: cover; */
}

.grey-container {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px 15px;
  height: 800px;
  padding: 30px 40px;
  color: white;
}

.input-wrapper {
  margin-top: 20px;
}

.loader {
  margin-top: 20px;
}

.no-results {
  margin-top: 20px;
  color: red;
}
